{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Products for {{ category.name }}</h1>
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4 col-md-6 p-4">
            <div class="card border-primary rounded custom-shadow fixed-size-card">
                <h3 class="m-4">{{ product.name }}</h3>
                {% with product.get_photos.first as first_photo %}
                   {% if first_photo %}                        
                        <a href="{%  url 'pages:product_detail' product.id %}">
                            <img class="card-img-top fixed-size-image " src="{{ first_photo }}" alt="{{ product.name }}">
                        </a>                  
                   {% endif %}
                {% endwith %}                
                <div id="card-{{ product.id }}">
                    <div  class="card-body">
                        <p class="short-description">{{ product.description|truncatewords:10 }}</p>
                        <a href="javascript:void(0);" 
                           
                           {% comment %} hx-get="{% url 'main:product_full_description' product.id %}"  {% endcomment %}
                           hx-target="#card-{{ product.id }} .card-body" 
                           hx-swap="outerHTML" 
                           hx-trigger="click">Read More</a>
                         
                        
                    </div>  
                    <div class="d-flex justify-content-between ">  
                            <p><s>{{ product.price }}</s> $</p>
                            <p><strong>90.00 $</strong></p>
                        <span class="badge badge-pill bg-warning text-dark text-sm-center">Discount 12.00 %</span>
                         
                            <a href="#" class="btn add-to-cart">
                                <img class="mx-1" src="{% static '/deps/icons/cart-plus.svg' %}" alt="Catalog Icon"
                                    width="32" height="32">
                            </a>
                    </div>                 
                </div>                 
                <div class="fixed-bottom-button">
                         {% comment %} <a class="btn btn-dark" href="{%  url 'main:product_detail' product.id %}"> {% endcomment %}
                            <p class="card-title ">Podrobnosti {{ product.name }}</p>
                        </a> 
                </div>    
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}